.delta-login {
    padding-top: 48px;
}

.form-control {
    margin-bottom: 8px;
}

.heading {
    text-align: center;
}

.navbar-default {
    background-color: #337ab7;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

#header{
    margin-top: 12px;
}

.delta-margin-top{
    margin-top: 12px;
}

.navbar-default .navbar-brand {
    color: white;
}

.glyphicon {
    color: #FFFFFF;
    padding-top: 5px;
}

.glyphicon-cog {
    color: inherit;
}

.glyphicon-align-justify {
    color: #000000;
}

.accent-text {
    color: #FFFFFF;
    font-size: 18px;
}

.delta-divider {
    padding: 1px;
}

.list-group-item {
    border: none;
}

.delta-vertical-separator {
    border-right: solid 1px;
}

.delta-widget-header {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.delta-background-white {
    background-color: #FFFFFF;
}

.delta-widget > .delta-widget-toolbar {
    position: absolute;
    right: 15px;
    background-color: #FFFFFF;
}

.delta-iframe {
    width: 100%;
}