<div class="delta-content">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="row delta-margin-top">
                <div class="col-xs-1 pull-left">
                    <a href="#!/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget"><span class="glyphicon glyphicon-chevron-left pull-left"></span></a>
                </div>
                <div class="col-lg-4 col-xs-6">
                    <p class="accent-text pull-left"><b>Choose Widget</b></p>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a href="widget-heading.view.client.html"><b>Header</b></a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a href="#"><b>Label</b></a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a href="#"><b>HTML</b></a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a href="#"><b>Text Input</b></a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a href="#"><b>Link</b></a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a href="#"><b>Button</b></a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a href="widget-image.view.client.html"><b>Image</b></a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a href="widget-youtube.view.client.html"><b>YouTube</b></a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a href="#"><b>Data Table</b></a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a href="#"><b>Repeater</b></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row delta-margin-top">
                <div class="col-lg-1 col-xs-2 pull-right">
                    <a href="#!/user/{{uid}}"><span class="glyphicon glyphicon-user pull-right"></span></a>
                </div>
            </div>
        </div>
    </nav>
</div>