<div class="delta-component">
    <label for="name">Name</label>
    <input ng-model="model.widget.name" name="Name" placeholder="Name" class="form-control" id="name"/>

    <label for="text">Text</label>
    <input ng-model="model.widget.text" placeholder="Text" class="form-control" id="text"/>

    <label for="url">URL</label>
    <input ng-model="model.widget.url" placeholder="URL" class="form-control" id="url"/>

    <label for="width">Width</label>
    <input ng-model="model.widget.width" name="Width" placeholder="3" class="form-control" id="width"/>

    <label for="upload">Upload</label>
    <input ng-model="model.widget.upload" name="Upload" placeholder="3" class="form-control" id="upload" type="file"/>

    <a class="btn btn-default btn-primary btn-block"
       href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">Upload</a>
</div>