<div class="container-fluid">
    <div class="delta-login" ng-controller="loginController">
        <div class="visible-lg visible-md col-lg-2 col-md-1"></div>
        <div class="col-xs-12 col-lg-8 col-md-10">
            <h2 class="heading">Login</h2>
            <input id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <a class="btn btn-primary btn-block" href="#!/user/{{uid}}">Login</a>
            <a class="btn btn-success btn-block" type="submit" href="#!/register">Register</a>
        </div>
        <div class="visible-lg visible-md col-lg-2 col-md-1"></div>
    </div>
</div>